--
-- PostgreSQL database dump
--

\restrict kwwueqlz4x7hKGqwXWNeUbzizQ3v75XxPhlUOvbsPrqf4Ra07ACeZv3K9YvkX7U

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Todo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Todo" (
    id integer NOT NULL,
    title text NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Todo" OWNER TO postgres;

--
-- Name: Todo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Todo_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Todo_id_seq" OWNER TO postgres;

--
-- Name: Todo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Todo_id_seq" OWNED BY public."Todo".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Todo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Todo" ALTER COLUMN id SET DEFAULT nextval('public."Todo_id_seq"'::regclass);


--
-- Data for Name: Todo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Todo" (id, title, completed, "createdAt", "updatedAt") FROM stdin;
1	Test Ba┼şl─▒─ş─▒	f	2025-10-17 09:21:27.565	2025-10-17 09:55:19.871
2	evren	f	2025-10-17 10:54:59.772	2025-10-17 11:32:02.389
4	da┼şdjklkjsdljkjas┼şkdj┼ş<kjasdadaldki┼şlasfdki┼şlaskfafadadadADadDdfgdsgdfgdg	f	2025-10-17 11:33:39.97	2025-10-17 11:33:39.97
5	d┼şkgj┼şszlkjfgksjz┼şlfkjzlsk<jdf┼şlksjl┼şkfjlsjfjslkfjo─▒srjflsfjis<jfpsjflksdjf┼şlkfsfa┼şkljs┼şajkfzj┼şfghkflgkhji┼şlfkgj┼şilkdfi┼şhjsx┼ş dk┼şjgzxmdg kjdg┼şhjdzighjsdjf┼şlskjfwoe─▒rfij<pskafj┼şlskdjf─ş	f	2025-10-17 11:36:43.661	2025-10-17 11:41:01.492
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
7e2aaee1-066c-486e-8af3-3bec7fcf8c07	eee10381159b16a8202131163ee162c65f8bb26c6cf979ed51eae646ddef5073	2025-10-17 12:01:32.362971+03	20251017090132_init	\N	\N	2025-10-17 12:01:32.356686+03	1
\.


--
-- Name: Todo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Todo_id_seq"', 5, true);


--
-- Name: Todo Todo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Todo"
    ADD CONSTRAINT "Todo_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict kwwueqlz4x7hKGqwXWNeUbzizQ3v75XxPhlUOvbsPrqf4Ra07ACeZv3K9YvkX7U

